
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.circle {
  position: fixed; /*The position of the element is fixed with respect to the browser window*/
  top: 25%; /*The top edge of the element is placed at the center of the window*/
  left: 5%; /*The left edge of the element is placed at the center of the window*/
  transform: translate(-50%, -50%); /*The element is translated to the top left corner of the window*/
  width: 100vw; /*The width of the element*/
  height: 100vw; /*The height of the element*/
  border-radius: 50%; /*The element will be circular*/
  background-color: transparent;
  border: 20px solid;
  z-index: -1;
  color:rgb(80, 80, 80);
}
.circle2 {
  position: fixed; /*The position of the element is fixed with respect to the browser window*/
  top: 80%; /*The top edge of the element is placed at the center of the window*/
  left: 100%; /*The left edge of the element is placed at the center of the window*/
  transform: translate(-50%, -50%); /*The element is translated to the top left corner of the window*/
  width: 400px; /*The width of the element*/
  height: 400px; /*The height of the element*/
  border-radius: 50%; /*The element will be circular*/
  background-color: transparent;
  border: 20px solid;
}
.crossHorizontal {
  background-color: rgba(170, 11, 11, 0.679); /*The background color of the cross*/
  transform: rotate(45deg); /*The cross will be rotated 45 degrees*/

  width: 50%; /*The width of the cross will be half of the parent element*/
  height: 50%; /*The height of the cross will be half of the parent element*/
  position: absolute; /*The position of the cross will be absolute with respect to the parent element*/
  top: 25%; /*The top edge of the cross will be 25% from the top edge of the parent element*/
  left: 25%; /*The left edge of the cross will be 25% from the left edge of the parent element*/
}

.crossVertical {
  background-color: rgb(170, 11, 11, 0.679); /*The background color of the cross*/
  transform: rotate(180deg); /*The cross will be rotated 135 degrees*/

  width: 50%; /*The width of the cross will be half of the parent element*/
  height: 50%; /*The height of the cross will be half of the parent element*/
  position: absolute; /*The position of the cross will be absolute with respect to the parent element*/
  top: 25%; /*The top edge of the cross will be 25% from the top edge of the parent element*/
  left: 25%; /*The left edge of the cross will be 25% from the left edge of the parent element*/
  
}

.myName {
  margin: 50px auto; /* adds a margin of 50px to the top and bottom, and centers the element horizontally */
}

.myName h1 {
  text-align: center; /* centers the heading text */
  margin-bottom: 50px;
}

.myName img{
  margin-right: 25px; /* adds a margin of 25px to the right of the image */
  /* border-radius: 100%; */
  width: 150px;
  height: 150px;
}
#normImg img{
  margin-right: 25px; /* adds a margin of 25px to the right of the image */
  border-radius: 0%;
  width: 150px;
  height: 150px; 
}
.myName video{
 width: 300px;
  border-radius: 100%;
  margin: 15px;
}

.myName p {
  margin-bottom: 25px;
  width:275px; /* removes any default margin from the text */
  width: auto;
  height: auto;
}
.myName button {
  margin-bottom: 15px; 
}
.container{
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.myName2 div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.myName div{
  display: flex;
  justify-content: center;
  width: 600px;
  margin-bottom: 60px;
  /* height: auto; */
  /* overflow: hidden; */
  /* align-items: center; */
}
.Intro div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  height: 60vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  /* display: flex;
  flex-wrap: wrap;  */
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.grid-item {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
